header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px 60px;
}

h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  float: left;
}
nav {
  font: size 21px;
  float: right;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: 21px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
